<div class="row g-3 align-items-center">
    <div class="col-auto">
      <label  class="col-form-label">Phone</label>
    </div>
    <div class="col-auto">
      <input type="text"  class="form-control" [(ngModel)]="patientPhone">
    </div>
    <div class="col-auto">
      <input type="button" value="Search" class="btn btn-primary" (click)="search()">
    </div>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Country</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of patients">
            <td>
                {{item.fName}} {{item.lName}}
            </td>
            <td>
                {{item.phone}}
            </td>
            <td>
                {{item.country.name}}
            </td>
            <td>
                <input type="button" value="Edit" class="btn btn-danger" (click)="edit(item.id)">
            </td>
        </tr>
    </tbody>
</table>